html {
    width: fit-content;
}

body{
    padding-top: 0px!important;
}
.font-family {
    font-family: 'Dancing Script', cursive;
}

.background-hidden {
    background-color: #000000c2 !important;
}

.nav-menu {
    padding: 10px 0 !important;
}

.nav-item-active {
    color: #c49b63 !important;
}

.nav-change {
    flex-wrap: wrap;
    padding: inherit;
    justify-content: center;
}

.nav-change :hover {
    color: #c49b63;
}

.bg-web {
    background-image: url('../images/bgWeb.png');
}

.height-sline {
    height: 650px;
    object-fit: cover;
}

.text-sline {
    height: auto !important;
    bottom: 200px !important;
}

.text-sline-secon {
    bottom: 100px;
    width: 80% !important;
    padding: 15px;
    height: auto !important;
}

.text-index {
    font-size: 10px;
    position: relative;
    bottom: 10px;
}

.content-padding {
    padding: 20px;
    margin: auto;
    padding: 15px 15px 0 15px;
}

.infomation-web {
    padding: 10px;
    font-size: 45px;
    size: 20px;
}

.content-background {
    background-color: black !important;
}

.icon-service {
    padding: 10px;
    font-size: 45px;
    size: 20px;
}

.menu-coffee {
    display: inline-block !important;
}

.icon-coffee {
    padding: 10px;
    font-size: 45px;
}

.product-content {
    padding: 40px 40px 0 40px;
}

.icon-web {
    font-size: 50px;
    padding: 20px;
}

.font-footer {
    font-size: initial;
}

.customers-background {
    background-image: url(../images/bg2.png);
}

.size-image-food {
    width: 100px !important;
    height: 100px !important;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

.card-hiden-text {
    height: 100px;
    overflow: auto;
}

a {
    text-decoration: none !important;
}

.icon-signin {
    font-size: 20px;
    padding: 10px;
}

.bg-signin {
    background-image: url("../images/bgSignIn.png");
}

.bg-form-signin {
    background-image: url("../images/bgFormSignIn.png");
}

.overflow-content {
    overflow: auto !important;
}

.bg-newyear {
    background-image: url("../images/happynewyear.png");
}

.height-menu-content {
    height: 170px !important;
}

.icon-delete-food {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .height-menu-content {
        height: 340px !important;
        display: block !important;
    }
}

@media only screen and (max-width: 500px) {
    .hiden-content-menu {
        height: 170px !important;
    }
}

@media only screen and (max-width: 500px) {
    .change-content-menu {
        text-align: end;
        margin: auto;
        position: relative;
        top: 27px !important;
        width: max-content;
        height: 170px !important;
        display: contents;
    }
}

.container-card-design {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

    .container-card-design .card-design {
        position: relative;
    }

        .container-card-design .card-design .card {
            width: auto;
            height: 200px;
            transition: 0.5s;
        }

            .container-card-design .card-design .card.card-top {
                position: relative;
                background: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(100px);
                cursor: pointer;
            }

        .container-card-design .card-design:hover .card.card-top {
            background: #ff0057;
            transform: translateY(0);
        }

        .container-card-design .card-design .card.card-top .content-card-design {
            opacity: 0.2;
            transition: 0.5s;
        }

        .container-card-design .card-design:hover .card.card-top .content-card-design {
            opacity: 1;
        }

        .container-card-design .card-design .card.card-top .content-card-design img {
            max-width: 100px;
        }

        .container-card-design .card-design .card.card-top .content-card-design h3 {
            margin: 10px 0 0;
            padding: 0;
            color: #fff;
            text-align: center;
            font-size: 1.5em;
        }

        .container-card-design .card-design .card.card-down {
            position: relative;
            background-color: #000000c2 !important;
            display: flex;
            color: white !important;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            transform: translateY(-100px);
        }

        .container-card-design .card-design:hover .card.card-down {
            transform: translateY(0);
        }

        .container-card-design .card-design .card.card-down .content-card-design p {
            margin: 0;
            padding: 0;
        }

        .container-card-design .card-design .card.card-down .content-card-design a {
            margin: 15px 0 0;
            display: inline-block;
            text-decoration: none;
            font-weight: 900;
            color: #333;
            padding: 5px;
            border: 1px solid #333;
        }

        .container-card-design .card-design .card.card2 .content-card-design a:hover {
            background: #333;
            color: #fff;
        }

.text-hiden {
    width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.drop-menu {
    background-color: #ffffff00;
    position: absolute;
    left: -40px;
}

.drop-text:hover {
    background-color: #ffffff00;
    color: #ffc107 !important;
}

.border-bottom-animation{
    color: white;
}

.border-bottom-animation:after {
    display: block;
    content: '';
    color: #ffc107 !important;
    border-bottom: solid 3px #ffc107;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.border-bottom-animation:hover:after {
    transform: scaleX(1);
}

/*.nav-active a {
    color: #c49b63 !important;
    border-bottom: 2px solid #f1b408 !important;
}*/

.bg-color {
    background-color: RGBA(0, 0, 0, 0.61);
    min-height: 630px;
}
.section-padding {
    padding: 60px 0px;
}

.left-images img {
    object-fit: cover;
}

.left-images {
    padding: 0px;
}

.details-text {
    border-right: 2px solid #841b2d;
}

.details-text {
    background-color: rgba(14, 4, 4, 0.70);
    border-right: 2px solid #A87F41;
    padding: 20px 20px 30px 30px;
    overflow: auto;
}

.content-holder h2 {
    color: #FFB03B;
    font-size: 32px;
    padding-bottom: 15px;
    font-family: 'Satisfy', sans-serif;
}

.content-holder address strong {
    color: #FFB03B;
    padding: 10px 0px;
}

.details-text p {
    color: #E8E8E8;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
}

#event {
    background: url('../images/res02.jpg') no-repeat;
    background-size: cover;
}

.border-search {
    border: 0;
    background-color: #ffffff00 !important;
    border-bottom: 2px solid white;
    border-radius: 0 !important;
}

.search-animation {
    width: 0px !important;
    box-sizing: border-box;
    background-color: #ffffff00 !important;
    border: 0;
    border-radius: 0 !important;
    font-size: 16px !important;
    background-image: url(../images/search-icon.jpg);
    background-size: 24px;
    background-position: 8px 8px !important;
    background-repeat: no-repeat !important;
    padding: 12px 20px 12px 20px !important;
    -webkit-transition: width 0.5s ease-in-out !important;
    transition: width 0.5s ease-in-out !important;
    -webkit-transition: padding 0.5s ease-in-out !important;
    transition: padding 0.5s ease-in-out !important;
}
    .search-animation:hover {
        border-bottom: 2px solid white;
    }

    .search-animation:focus {
        width: 100% !important;
        padding: 12px 20px 12px 40px !important;
        border-radius: 4px !important;
        border-bottom: 2px solid white;
    }
        .search-animation:hover::after {
            opacity: 1!important;
        }

.bg-login{
    background-image: url('../images/res01.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.bg-form {
    background-color: #000000c7;
}

.image-zoom {
    transition: transform .2s;
}

    .image-zoom:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }

.shadow-animation {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

    .shadow-animation::after {
        content: "";
        border-radius: 5px;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .shadow-animation:hover {
        -webkit-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
    }

        .shadow-animation:hover::after {
            opacity: 1;
        }